@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family: "Passion One";
    src: local(Passion One), url(font/PassionOne-Bold.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sriracha', cursive;
}
html, body {
    min-height: 100vh;
    background-color: white;
}
header {
    background-color: black;
    color: white;
}
header > h1 {
    font-family: 'Passion One', cursive;
    font-size: calc(1em + 9vw);
    text-align: center;
    font-variant: small-caps;
    padding-top: 50px;
}
header > p {
    text-align: center;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
header > p > a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > p > a:hover {
    text-decoration: underline;
}
main section {
    text-align: left;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: clamp(1em, 1em + 2vw, 4em);
}
main > section > p {
    padding-bottom: 2em;
}
main > section.img {
    box-shadow: inset 6px 6px 13px rgba(66, 66, 66, 0.795);
    color: white;
    background-color: gray;
    background-attachment: fixed;
    background-size: cover;
}
main > section.img > p {
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    padding: 5px;
}
main > section#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

main > section#img2 {
    background-image: url(imagens/background002.jpg);
}
footer {
    background-color: black;
    color: white;
    padding: 6px;
    text-align: center;
}
footer p,strong {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}